version: '3.8'

services:
  app:
    build: .
    container_name: baileys-api
    restart: always
    ports:
      - "${PORT:-3000}:3000"
    env_file:
      - .env
    environment:
      - PORT=3000
